.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #232835;
}

.container {
    display: flex;
    flex-direction: column;
    background-image: url('/images/article/community/BackgroundNo.png');
    background-size: cover; /* Растягивает */
    background-position: top center; /* Центрирует по горизонтали, привязывает к верху */
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px; /* Минимальная высота */
    padding: 0 50px 50px 50px;
    align-items: center;
    background-color: #232835;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 30px;
    gap: var(--gap);
    width: 100%;
    max-width: 800px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--gap);
    max-width: 800px;
    padding: 400px var(--non-work-zone) var(--gapHalf);
}

.image {
    display: flex;
    width: 100%;
    padding-top: var(--gapHalf);
}

.imageNoGap {
    display: flex;
    width: 100%;
}

.alignCenterText {
    text-align: center;
}

.alignJustifiedText {
    text-align: justify;
}

.halfContainer {
    max-width: 400px;
}

.rowToColumn {
    display: flex;
    flex-direction: row;
    gap: var(--gapx3);
}

@media (max-width: 768px) {
    .rowToColumn {
        flex-direction: column;
        gap: var(--gap);
    }
}

.points {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.headerAndBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bodyHeadAndBody {
    display: flex;
    flex-direction: column;
    padding-left: 17px;
}
