# Node modules
node_modules/

# Build artifacts
build/
dist/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*
yarn-error.log

# IDE specific files (example for VS Code)
.vscode/

# Vite specific cache files
.vite/