@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');

.primary {
    all: unset;
    cursor: pointer;
    background: linear-gradient(to bottom, #9f546a, #544691);
    box-shadow: 2px 2px 4px #0000004d;
    border-radius: 100px;
    padding: 10px 30px;
    width: fit-content;
    display: flex;
    
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 16px;

    width: 160px;
    justify-content: center;

    flex-direction: row;
    align-items: center;
    gap: 10px; /* Нужен для отступа в кнопке Подписатся. Между картинкой и текстом*/
    transition: color .8s ease, transform .1s ease;

    min-width: 160px;
    justify-content: center;
    color: var(--gold);
}

.primary:hover {
    transform: translateY(2px); 
}