/* ====== Шрифты ======
   (см. подключение в globals.css или _app.js)           */

/* ====== Общие базовые параметры ====== */
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@400;530;600&family=Merriweather:wght@300;400&display=swap');



.h1,
.h2,
.h3,
.h4,
.body,
.bodyLarge,
.button,
.interaction,
.sign {
    margin: 0;
    color: #fff;
}


/* ЗАГОЛОВКИ (SPECTRAL SC) SEMIBOLD 40 */
.h1 {
    font-family: 'Spectral SC', serif;
    font-weight: 500;          /* Semibold */
    font-size: 40px;
    line-height: normal;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

/* ПОДЗАГОЛОВКИ (SPECTRAL SC) SEMIBOLD 30 */
.h2 {
    font-family: 'Spectral SC', serif;
    font-weight: 600;          /* Semibold */
    font-size: 30px;
}

/* ПОДЗАГОЛОВКИ (SPECTRAL SC) REGULAR 20 */
.h3 {
    font-family: 'Spectral SC', serif;
    font-weight: 400;          /* Regular */
    font-size: 20px;
}

.h4 {
    font-family: 'Spectral SC', serif;
    font-weight: 400;          /* Regular */
    font-size: 18px;
}

.body {
    font-family: 'Merriweather', serif;
    font-weight: 300;          /* Regular */
    font-size: 16px;
}

/* Большой блок текста (Merriweather) Regular 16 */
.bodyLarge {
    font-family: 'Merriweather', serif;
    font-weight: 400;          /* Regular */
    font-size: 16px;
}

.button {
    font-family: 'Merriweather', serif;
    font-weight: 400;          /* Regular */
    font-size: 16px;
}

.interaction {
    font-family: 'Merriweather', serif;
    font-weight: 400;          /* Regular */
    font-size: 20px;
}

.sign {
    font-family: 'Merriweather', serif;
    font-weight: 400;          /* Regular */
    font-size: 12px;
}

@media (max-width: 400px) {
    .h1 {
        font-size: 32px;
    }

    .h2 {
        font-size: 24px;
    }

    .h3 {
        font-size: 18px;
    }
}
