@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --link-color: blue;
  --shadow-color: #bbb;
  --box-shadow: 0px 0px 5px #bbb;


  --black: #0f0f0f;
  --dark-gray: #aaaaaa;
  --light-gray: #e6e6e6;
  --white: #ffffff;
  --error-red: #ff5050;

/*  session*/
  --active-session: rgb(205, 234, 177);
  --pause-session: rgb(168, 217, 236);
}

:root {
  --border-radius-x: 7px;
  --border-radius-x2: 14px;
  --max-width-images: 200px;
  --gapon2: 3px;
  --gap: 7px;
  --gapx2: 14px;
  --gapx3: 21px;
  --gapx4: 28px;
  --gapx5: 35px;
  --gapx6: 42px;
  --gapx7: 49px;
  --gapx8: 56px;
  --non-work-zone: 32px;
  --variable-collection: 32px;
  --variable-collection-2: 14px;
  --variable-collection-3: 21px;
  --variable-collection-half-column: 27px;
  --variable-collection-x5: 35px;
  --variable-collection-x8: 56px;
}

@media (min-width: 400px) {
  :root {
    --non-work-zone: 36px; /* Пропорциональный рост */
  }
}
@media (min-width: 428px) {
  :root {
    --non-work-zone: 40px; /* Пропорциональный рост */
  }
}

@media (min-width: 834px) {
  :root {
    --non-work-zone: 56px; /* Пропорциональный рост */
  }
}

/*@media (min-width: 900px) {*/
/*  :root {*/
/*    --non-work-zone: calc(64px + ((100vw - 900px) / 2)); !* Пропорциональный рост *!*/
/*  }*/
/*}*/


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;     /* Убираем отступы */
  padding: 0;    /* Убираем отступы */

}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--black);
  padding: 0;
  margin: 0;
}

svg {
  fill: black;
}
